.box-tvb {
    color: #fff;
    position: relative;
    margin: auto;
    padding: 0;
    background-color: #fff;
    border: 1px solid #c7c7c7;
    & > h3 {
        font-size: 16px;
        text-align: center;
        margin: 0;
        line-height: normal;
        padding: 6px;
        word-wrap: break-word;
        font-weight: bold;
    }
    & p {
        text-align: center;
        font-weight: bold;
        font-size: 12px;
        padding: 5px 4px;
        margin: auto;
        min-height: 50px;
        max-height: 50px;
        height: auto;
        line-height: 18px;
        background-color: #ffffff;
        color: #000;
    }

    .cimg {
        .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
        white-space: nowrap;
        text-align: center;
        height: 70px;
        max-height: none;
        min-height: 54px;
        .img-responsive {
            max-width: 105px;
            max-height: 70px;
            vertical-align: middle;
            display: inline-block;
        }
    }
}

.head-tvb {
    background-color: #45af4d;
}

.foot-tvb {
    background-color: #c73132;
}


.foot-point {
    background-color: #333 !important;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    margin: 0;
    line-height: normal;
    padding: 4px;
    word-wrap: break-word;
    font-weight: bold;
}

.cnt-tvb {
    width: auto;
    position: relative;
    padding: 0;
    & > * {
        padding-left: 12px;
        padding-right: 12px;
        max-width: 20%;
        padding-bottom: 1.7%;
    }
}

.box-normal {
    width: 90%;
    margin: auto !important;
    & > * {
        padding-left: 15px;
        padding-right: 15px;
    }
    .head-tvb{
        font-size: 20px;
    }
    
    .box-tvb p {
        font-size: 12px;
    }

    .box-tvb .foot-tvb {
        font-size: 20px;
    }
}


.box-small {
    width: 76%;
    margin: auto !important;
    & > * {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .head-tvb {font-size: 17px;}
    
    .box-tvb p {
        font-size: 10px;
        line-height: 15px;
    }
    
    .box-tvb .foot-tvb {
        font-size: 17px;
    }
}

.ilq {
    margin-bottom: 50px !important;
}

.ilq > .number {
    position: absolute;
    bottom: -45px;
    width: 100%;
    border: 1px solid #d30027;
    padding: 10px;
}

.exchange_member .content{ width: 90%; }